//! **************************************************************************
// Written by: Map P.20131013 on Tue May 21 11:39:35 2024
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "AR" LOCATE = SITE "Y11" LEVEL 1;
COMP "iSL" LOCATE = SITE "Y9" LEVEL 1;
COMP "iSR" LOCATE = SITE "Y10" LEVEL 1;
COMP "iOUT<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "iOUT<1>" LOCATE = SITE "AD12" LEVEL 1;
COMP "iOUT<2>" LOCATE = SITE "AA11" LEVEL 1;
COMP "iOUT<3>" LOCATE = SITE "AA10" LEVEL 1;
COMP "iOUT<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "iOUT<5>" LOCATE = SITE "AB9" LEVEL 1;
COMP "iOUT<6>" LOCATE = SITE "AB8" LEVEL 1;
COMP "iLOAD" LOCATE = SITE "Y8" LEVEL 1;
COMP "iOUT<7>" LOCATE = SITE "AB7" LEVEL 1;
COMP "aData<4>" LOCATE = SITE "W13" LEVEL 1;
COMP "aData<5>" LOCATE = SITE "W12" LEVEL 1;
COMP "aData<6>" LOCATE = SITE "W11" LEVEL 1;
COMP "aData<7>" LOCATE = SITE "Y12" LEVEL 1;
COMP "CLK" LOCATE = SITE "AE14" LEVEL 1;
SCHEMATIC END;

