//! **************************************************************************
// Written by: Map P.20131013 on Thu May 16 10:45:30 2024
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "AB8" LEVEL 1;
COMP "J" LOCATE = SITE "Y8" LEVEL 1;
COMP "K" LOCATE = SITE "Y9" LEVEL 1;
COMP "Q" LOCATE = SITE "AB7" LEVEL 1;
COMP "CLK" LOCATE = SITE "AE14" LEVEL 1;
COMP "RESET" LOCATE = SITE "W13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

