//! **************************************************************************
// Written by: Map P.20131013 on Sun May 19 22:00:53 2024
//! **************************************************************************

SCHEMATIC START;
COMP "d_in<0>" LOCATE = SITE "Y10" LEVEL 1;
COMP "d_out<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "d_in<1>" LOCATE = SITE "Y9" LEVEL 1;
COMP "d_out<1>" LOCATE = SITE "AD12" LEVEL 1;
COMP "d_in<2>" LOCATE = SITE "Y8" LEVEL 1;
COMP "d_out<2>" LOCATE = SITE "AA11" LEVEL 1;
COMP "d_out<3>" LOCATE = SITE "AA10" LEVEL 1;
COMP "d_out<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "d_out<5>" LOCATE = SITE "AB9" LEVEL 1;
COMP "d_out<6>" LOCATE = SITE "AB8" LEVEL 1;
COMP "d_out<7>" LOCATE = SITE "AB7" LEVEL 1;
SCHEMATIC END;

