//! **************************************************************************
// Written by: Map P.20131013 on Thu May 16 08:11:36 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LD" LOCATE = SITE "Y10" LEVEL 1;
COMP "UP" LOCATE = SITE "Y11" LEVEL 1;
COMP "COUNT<0>" LOCATE = SITE "AB7" LEVEL 1;
COMP "COUNT<1>" LOCATE = SITE "AB8" LEVEL 1;
COMP "COUNT<2>" LOCATE = SITE "AB9" LEVEL 1;
COMP "CLK" LOCATE = SITE "AE14" LEVEL 1;
COMP "COUNT<3>" LOCATE = SITE "AA9" LEVEL 1;
COMP "COUNT<4>" LOCATE = SITE "AA10" LEVEL 1;
COMP "RESET" LOCATE = SITE "Y9" LEVEL 1;
COMP "COUNT<5>" LOCATE = SITE "AA11" LEVEL 1;
COMP "COUNT<6>" LOCATE = SITE "AD12" LEVEL 1;
COMP "COUNT<7>" LOCATE = SITE "Y13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

