NET "COUNT[0]" LOC = AB7;
NET "COUNT[1]" LOC = AB8;
NET "COUNT[2]" LOC = AB9;
NET "COUNT[3]" LOC = AA9;
NET "COUNT[4]" LOC = AA10;
NET "COUNT[5]" LOC = AA11;
NET "COUNT[6]" LOC = AD12;
NET "COUNT[7]" LOC = Y13;
NET RESET LOC = Y9;
NET CLK LOC = AE14;
NET LD LOC = Y10;
NET UP LOC = Y11;