NET "inR1[2]" LOC = Y8;
NET "inR1[1]" LOC = Y9;
NET "inR1[0]" LOC = Y10;
NET "inR2[2]" LOC = Y11;
NET "inR2[1]" LOC = Y12;
NET "inR2[0]" LOC = W11;
NET "RESULT[2]" LOC = AB7;
NET "RESULT[1]" LOC = AB9;
NET "RESULT[0]" LOC = AA10;
NET "CLK" LOC = AE14;
NET "SHL_EN" LOC = W12;
NET "SHL_EN" CLOCK_DEDICATED_ROUTE = FALSE;
