NET "clk" LOC = AE14;
NET "reset" LOC = Y8;
NET "oRESULT(6)" LOC = AB7;
NET "oRESULT(5)" LOC = AB8;
NET "oRESULT(4)" LOC = AB9;
NET "oRESULT(3)" LOC = AA9;
NET "oRESULT(2)" LOC = AA10;
NET "oRESULT(1)" LOC = AA11;
NET "oRESULT(0)" LOC = AD12;
NET "sR0_EN" LOC = Y9;
NET "sR1_EN" LOC = Y10;
NET "sSHL_EN" LOC = Y11;
NET "sCMP_EN" LOC = Y12;

